<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
        <li *ngFor="let navigationItem of navigationItems">
          <a class="nav-link" [routerLink]="navigationItem.path" routerLinkActive="active">{{navigationItem.name}}</a>
        </li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{ user?.profile?.name }}
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>