<div class="row mb-3">
  <div class="col-12">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Welcome <strong>{{ name }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>