<div class="modal" [class.d-block]="show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select="app-dialog-header"></ng-content>
        <button type="button" class="btn-close" (click)="closeDialog()"></button>
      </div>
      <div class="modal-body">
        <ng-content select="app-dialog-body"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="app-dialog-footer"></ng-content>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop show" *ngIf="show"></div>