<div class="modal show d-block">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div class="modal-backdrop show bg-light"></div>