<div class="row mb-3">
  <div class="col-12">
    <button type="button" class="btn btn-danger" (click)="back()">
      <i class="fa fa-arrow-left me-3" aria-hidden="true"></i>Back
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs mb-3" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-controls="edit"
          aria-selected="false">Add</button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="edit-tab">
        <div class="bg-light p-3">
          <form #taskForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input class="form-control" name="title" placeholder="Title" required
                [class.is-invalid]="!title?.valid && (title?.dirty || title?.touched)" [class.is-valid]="title?.valid"
                #title="ngModel" [(ngModel)]="task.title">

              <div *ngIf="!title?.valid && (title?.dirty || title?.touched)" class="invalid-feedback">
                <div *ngIf="title.errors?.required">
                  Title is required
                </div>
              </div>
            </div>
            <div class="mb-3">
              <textarea class="form-control" rows="3" name="Description" placeholder="Description" required
                [class.is-invalid]="!description?.valid && (description?.dirty || description?.touched)"
                [class.is-valid]="description?.valid" #description="ngModel" [(ngModel)]="task.description"></textarea>

              <div *ngIf="!description?.valid && (description?.dirty || description?.touched)" class="invalid-feedback">
                <div *ngIf="description.errors?.required">
                  Description is required
                </div>
              </div>
            </div>
            <div class="bg-dark mb-3 p-2 text-white">
              Status
            </div>
            <div class="mb-3">
              <input class="form-check-input me-2" type="radio" [value]="1" name="status" #status="ngModel"
                [(ngModel)]="task.status">
              <label class="form-check-label me-2">
                New
              </label>
              <input class="form-check-input me-2" type="radio" [value]="2" name="status" #status="ngModel"
                [(ngModel)]="task.status">
              <label class="form-check-label me-2">
                In Progress
              </label>
              <input class="form-check-input me-2" type="radio" [value]="3" name="status" #status="ngModel"
                [(ngModel)]="task.status">
              <label class="form-check-label">
                Done
              </label>
              <div *ngIf="!status?.valid && (status?.dirty || status?.touched)" class="invalid-feedback">
                <div *ngIf="status.errors?.required">
                  Status is required
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="float-end">
                <button type="submit" class="btn btn-primary btn-sm me-3" [disabled]="!taskForm.valid">
                  <i class="fa fa-save me-2" aria-hidden="true"></i>Save
                </button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="back()">
                  <i class="fa fa-times me-2" aria-hidden="true"></i>Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>