<loading *ngIf="loading"></loading>

<div class="row" *ngIf="!loading">
  <div class="col-4">
    <div class="card rounded-0">
      <div class="card-body bg-secondary text-white">
        <h5 class="mb-0 float-start">New Tasks</h5>
        <i class="fa fa-tasks float-end" aria-hidden="true"></i>
      </div>
      <ul class="list-group list-group-flush" *ngIf="newTasks.length > 0">
        <li class="list-group-item show-pointer" *ngFor="let task of newTasks; trackBy:trackById;"
          [routerLink]="'/tasks/edit/'+ task.id" title="Click to edit">
          {{ task.title }}
        </li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-sm" (click)="addNewTask()">
          <i class="fa fa-plus-square me-2" aria-hidden="true"></i>Add
        </button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card rounded-0">
      <div class="card-body bg-success text-white">
        <h5 class="mb-0 float-start">Tasks in progress</h5>
        <i class="fa fa-spinner float-end" aria-hidden="true"></i>
      </div>
      <ul class="list-group list-group-flush" *ngIf="inProgressTasks.length > 0">
        <li class="list-group-item show-pointer" *ngFor="let task of inProgressTasks; trackBy:trackById;"
          [routerLink]="'/tasks/edit/'+ task.id" title="Click to edit">
          {{ task.title }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-4">
    <div class="card rounded-0">
      <div class="card-body bg-danger text-white">
        <h5 class="mb-0 float-start">Tasks got done</h5>
        <i class="fa fa-modx float-end" aria-hidden="true"></i>
      </div>
      <ul class="list-group list-group-flush" *ngIf="doneTasks.length > 0">
        <li class="list-group-item show-pointer" *ngFor="let task of doneTasks; trackBy:trackById;"
          title="Click to view" 
          [class.bg-secondary]="selectedTask && selectedTask.id === task.id"
          [class.text-white]="selectedTask && selectedTask.id === task.id"
          (click)="viewTask(task)">
          {{ task.title }}
        </li>
      </ul>
      <div class="card-body" *ngIf="selectedTask">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn-close" aria-label="Close" (click)="closeTaskDetailPanel()"></button>
        </div>
        <div>
          <div class="mb-3">
            <h5>{{ selectedTask.title + " - Detail View" }}</h5>
          </div>
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" name="title" placeholder="Title" [(ngModel)]="selectedTask.title" disabled>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="3" name="Description" placeholder="Description"
              [(ngModel)]="selectedTask.description" disabled></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>