<loading *ngIf="loading"></loading>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            <i class="fa fa-text-width me-2" aria-hidden="true"></i>Title
          </th>
          <th>
            <i class="fa fa-user me-2" aria-hidden="true"></i>Creator
          </th>
          <th>
            <i class="fa fa-paragraph me-2" aria-hidden="true"></i>Description
          </th>
          <th>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </th>
          <th>
            <i class="fa fa-calendar-o me-2" aria-hidden="true"></i>Time Start
          </th>
          <th>
            <i class="fa fa-calendar-o me-2" aria-hidden="true"></i>Time End
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules; trackBy:trackById;">
          <td class="align-middle">{{ schedule.title }}</td>
          <td class="align-middle">{{ schedule.creator.name }}</td>
          <td class="align-middle">{{ schedule.description }}</td>
          <td class="align-middle">{{ schedule.location }}</td>
          <td class="align-middle">{{ schedule.startDate | date:"MMM dd, yyyy hh:mm:ss aa" }}</td>
          <td class="align-middle">{{ schedule.endDate | date:"MMM dd, yyyy hh:mm:ss aa" }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm me-3" (click)="showDetail(schedule)">
              <i class="fa fa-info me-2" aria-hidden="true"></i>Detail
            </button>
            <button type="button" class="btn btn-primary btn-sm me-3" (click)="editSchedule(schedule)">
              <i class="fa fa-edit me-2" aria-hidden="true"></i>Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete(schedule)">
              <i class="fa fa-trash me-2" aria-hidden="true"></i>Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-dialog [show]="showDialog" (closeEvent)="showDialog = false">
      <app-dialog-header>
        <h5 class="modal-title">Schedule Detail</h5>
      </app-dialog-header>
      <app-dialog-body *ngIf="selectedSchedule">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input class="form-control" name="title" placeholder="Title" [(ngModel)]="selectedSchedule.title" disabled>
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input class="form-control" name="description" placeholder="Description"
            [(ngModel)]="selectedSchedule.description" disabled>
        </div>
        <div class="mb-3">
          <label class="form-label">Creator</label>
          <input class="form-control" name="creator" placeholder="creator" [(ngModel)]="selectedSchedule.creator.name"
            disabled>
        </div>
        <div class="mb-3">
          <label class="form-label">Location</label>
          <input class="form-control" name="location" placeholder="Location" [(ngModel)]="selectedSchedule.location"
            disabled>
        </div>
        <div class="mb-3">
          <label class="form-label">Start date</label>
          <input class="form-control" type="datetime-local" name="startDate" placeholder="Start Date"
            [(ngModel)]="selectedSchedule.startDate" disabled>
        </div>
        <div class="mb-3">
          <label class="form-label">End date</label>
          <input class="form-control" type="datetime-local" name="endDate" placeholder="End Date"
            [(ngModel)]="selectedSchedule.endDate" disabled>
        </div>
      </app-dialog-body>
      <app-dialog-footer>
        <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
      </app-dialog-footer>
    </app-dialog>
  </div>
</div>