<div class="row">
  <div class="col-6 offset-3 pt-3">
    <div class="card border-0">
      <img src=".\assets\images\404.png" class="card-img-top">  
      <div class="card-body text-center">
        <p class="card-text">This is not the web page you are looking for.</p>
      </div>
      <div class="card-footer bg-transparent text-center border-0">
        <button type="button" class="btn btn-primary btn-sm" (click)="backToHomePage()">
          <i class="fa fa-sign-in me-2" aria-hidden="true"></i>Back to home page
        </button>
      </div>
    </div>
  </div>
</div>