<loading *ngIf="loading"></loading>

<div *ngIf="!loading">
  <div class="row mb-3">
    <div class="col-12">
      <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-arrow-left me-3" aria-hidden="true"></i>Back
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs mb-3" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-controls="edit"
            aria-selected="false">{{ user?.name + "'s schedule" }}</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="edit-tab">
          <div class="bg-light p-3">
            <form #scheduleForm="ngForm" (ngSubmit)="onSubmit()" novalidate startDateValidator
              [startDate]="'startDate'" [endDate]="'endDate'">
              <div class="mb-3">
                <label class="form-label">Title</label>
                <input class="form-control" name="title" placeholder="Title" required
                  [class.is-invalid]="!title?.valid && (title?.dirty || title?.touched)" [class.is-valid]="title?.valid"
                  #title="ngModel" [(ngModel)]="schedule.title">

                <div *ngIf="!title?.valid && (title?.dirty || title?.touched)" class="invalid-feedback">
                  <div *ngIf="title.errors?.required">
                    Title is required
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <input class="form-control" name="description" placeholder="Description" required
                  [class.is-invalid]="!description?.valid && (description?.dirty || description?.touched)"
                  [class.is-valid]="description?.valid" #description="ngModel" [(ngModel)]="schedule.description">

                <div *ngIf="!description?.valid && (description?.dirty || description?.touched)"
                  class="invalid-feedback">
                  <div *ngIf="description.errors?.required">
                    Description is required
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Location</label>
                <input class="form-control" name="location" placeholder="Location" required
                  [class.is-invalid]="!location?.valid && (location?.dirty || location?.touched)"
                  [class.is-valid]="location?.valid" #location="ngModel" [(ngModel)]="schedule.location">

                <div *ngIf="!location?.valid && (location?.dirty || location?.touched)" class="invalid-feedback">
                  <div *ngIf="location.errors?.required">
                    Location is required
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Start date</label>
                <input class="form-control" type="datetime-local" name="startDate" placeholder="Start Date" required
                  [class.is-invalid]="!startDate?.valid  && (startDate?.dirty || startDate?.touched)"
                  [class.is-valid]="startDate?.valid" #startDate="ngModel" [(ngModel)]="schedule.startDate">

                <div *ngIf="!startDate?.valid && (startDate?.dirty || startDate?.touched)" class="invalid-feedback">
                  <div *ngIf="startDate.errors?.required">
                    Start date is required
                  </div>
                  <div *ngIf="startDate.errors?.greaterThanEndDate">
                    Start date must be less than end date
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">End date</label>
                <input class="form-control" type="datetime-local" name="endDate" placeholder="End Date" required
                  [class.is-invalid]="!endDate?.valid && (endDate?.dirty || endDate?.touched)"
                  [class.is-valid]="endDate?.valid" #endDate="ngModel" [(ngModel)]="schedule.endDate">

                <div *ngIf="!endDate?.valid && (endDate?.dirty || endDate?.touched)" class="invalid-feedback">
                  <div *ngIf="endDate.errors?.required">
                    End date is required
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="float-end">
                  <button type="submit" class="btn btn-primary btn-sm me-3" [disabled]="!scheduleForm.valid">
                    <i class="fa fa-save me-2" aria-hidden="true"></i>Save
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="back()">
                    <i class="fa fa-times me-2" aria-hidden="true"></i>Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>