<div class="row mb-3">
  <div class="col-12">
    <button type="button" class="btn btn-danger" (click)="back()">
      <i class="fa fa-arrow-left me-3" aria-hidden="true"></i>Back
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs mb-3" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-controls="edit"
          aria-selected="false">Add</button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="edit-tab">
        <div class="bg-light p-3">
          <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control" name="name" placeholder="Name" required
                [class.is-invalid]="!name?.valid && (name?.dirty || name?.touched)" [class.is-valid]="name?.valid"
                #name="ngModel" [(ngModel)]="user.name">

              <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="invalid-feedback">
                <div *ngIf="name.errors?.required">
                  Name is required
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Role</label>
              <input class="form-control" name="role" placeholder="Role" required
                [class.is-invalid]="!role?.valid && (role?.dirty || role?.touched)" [class.is-valid]="role?.valid"
                #role="ngModel" [(ngModel)]="user.role">

              <div *ngIf="!role?.valid && (role?.dirty || role?.touched)" class="invalid-feedback">
                <div *ngIf="role.errors?.required">
                  Role is required
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="float-end">
                <button type="submit" class="btn btn-primary btn-sm me-3" [disabled]="!userForm.valid">
                  <i class="fa fa-save me-2" aria-hidden="true"></i>Save
                </button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="back()">
                  <i class="fa fa-times me-2" aria-hidden="true"></i>Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>