<loading *ngIf="loading"></loading>

<div *ngIf="!loading">
  <div class="row mb-3">
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="addNewUser()">
        <i class="fa fa-plus-square me-2" aria-hidden="true"></i>Add
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3" *ngFor="let user of users; trackBy:trackById;">
      <user-detail #userDetails [user]="user" (editUserSuccessEvent)="reload()" (deleteUserSuccessEvent)="reload()"></user-detail>
    </div>
  </div>
</div>