<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card rounded-0">
    <div class="card-header bg-primary text-white text-center rounded-0">
      <div *ngIf="editMode; then nameInputBlock else nameBlock">
      </div>

      <ng-template #nameInputBlock>
        <input class="form-control" name="name" placeholder="Name" required
          [class.is-invalid]="!name?.valid && (name?.dirty || name?.touched)"
          [class.is-valid]="name?.valid && (name?.dirty || name?.touched)" #name="ngModel" [(ngModel)]="editUser.name">

        <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="invalid-feedback bg-white">
          <div *ngIf="name.errors?.required">
            Name is required
          </div>
        </div>
      </ng-template>

      <ng-template #nameBlock>
        <i class="fa fa-user me-2" aria-hidden="true"></i>{{ user.name }}
      </ng-template>
    </div>
    <img src=".\assets\images\user.svg" class="img-fluid px-5 py-3" alt="user">
    <div class="card-body d-flex flex-column pt-0">
      <div *ngIf="editMode; then roleInputBlock else roleBlock">
      </div>

      <ng-template #roleInputBlock>
        <input class="form-control mb-2" name="role" placeholder="Role" required
          [class.is-invalid]="!role?.valid && (role?.dirty || role?.touched)"
          [class.is-valid]="role?.valid && (role?.dirty || role?.touched)" #role="ngModel" [(ngModel)]="editUser.role">

        <div *ngIf="!role?.valid && (role?.dirty || role?.touched)" class="invalid-feedback bg-white">
          <div *ngIf="role.errors?.required">
            Role is required
          </div>
        </div>
      </ng-template>

      <ng-template #roleBlock>
        <div class="text-center mb-1">{{ user.role }}</div>
      </ng-template>

      <div class="text-center">
        <button type="button" class="btn btn-success btn-sm" (click)="createSchedule()">
          <i class="fa fa-calendar me-2" aria-hidden="true"></i>Schedules
        </button>
      </div>
    </div>
    <div class="card-footer bg-transparent text-center">
      <div *ngIf="editMode; then editButtonsBlock else viewButtonsBlock">
      </div>

      <ng-template #editButtonsBlock>
        <button type="submit" class="btn btn-primary btn-sm me-3" [disabled]="!userForm.valid">
          <i class="fa fa-edit me-2" aria-hidden="true"></i>Update
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="switchToViewMode()">
          <i class="fa fa-times me-2" aria-hidden="true"></i>Cancel
        </button>
      </ng-template>

      <ng-template #viewButtonsBlock>
        <button type="button" class="btn btn-primary btn-sm me-3" (click)="switchToEditMode()">
          <i class="fa fa-edit me-2" aria-hidden="true"></i>Edit
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="delete()">
          <i class="fa fa-trash me-2" aria-hidden="true"></i>Remove
        </button>
      </ng-template>
    </div>
  </div>
</form>